<div *ngIf="project != null">
    <h1 class="text-center">{{ project.name }}</h1>
    <em class="version text-center">Version {{ project.currentVersion }}</em>

    <div class="content">
        <nav class="text-left" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li><a routerLink="/projects">Projects</a></li>
                <li class="active">{{ project.id }}</li>
            </ol>
        </nav>
        <p class="description well">{{ project.description }}</p>
        <div class="project row">
            <div class="content col-xs-6 col-md-6 well" *ngFor="let document of project.documents">
                <div (click)="goToDocumentDetail(document.id)">
                    <img src="https://dummyimage.com/400x150?&text={{ document.name }}" alt="...">
                    <p>{{ document.description }}</p>
                </div>
            </div>
        </div>
        <div class="text-left"><button (click)="goBack()" class="btn">Go back to the previous page</button></div>
    </div>
</div>