/* Padding sizes */
.padding-32 {
    padding: 32px;
}

/* Syntaxic colorisation. More colors options into SQFPipe */
.consolewrapper {
    display: block;
    background-color: black;
    border-radius: 5px;
}

code.sqf {
    display: block;
    background: black;
    color: white;
    padding: 2px 15px;
}

code.sqf::before {
    content: '> ';
    color: blue;
}

code.sqf .bracket {
    color: orange;
}

code.sqf .comma {
    color: grey;
}

code.sqf .instruction {
    color: red;
}

code.sqf .rfFunction {
    color: yellow;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
a:hover {color: #ffffff;}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #000000; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.bg-2 ul {
  padding:0;
}
.bg-2 ul li {
    list-style-type: none;
}