<div *ngIf="document != null">
  <h1 class="text-center">{{ document.name }}</h1>
  <em class="version text-center">"{{ document.project.name }}" version {{ document.project.currentVersion }}</em>
  <p class="well text-left">{{ document.description }}</p>
  <div class="content">
    <nav class="text-left" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li><a routerLink="/projects">Projects</a></li>
            <li><a [routerLink]="['/project-detail', document.project.id]">{{ document.project.id }}</a></li>
            <li class="active">{{ document.id }}</li>
        </ol>
    </nav>
    <div class="row">
        <article *ngFor="let txt of document.htmls" [innerHTML]="txt | sqf" class="col-xs-6 col-md-6"></article>
    </div>

    <div class="row">
      <div *ngFor="let function of document.functions" class="text-left col-xs-6 col-md-6">
        <article class="well">
          <h3>{{ function.name }}</h3>
          <p class="info">{{ function.description }}</p>
          <table class="table" *ngIf="function.parameters.length > 0">
            <caption>List of parameters</caption>
            <tr>
              <th>Name</th>
              <th>Type</th>
            </tr>
            <tr *ngFor="let parameter of function.parameters">
              <td><span class="glyphicon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> {{ parameter.name }}</td>
              <td>{{ parameter.type }}</td>
            </tr>
          </table>
          <p><span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Return type: {{ function.returnType }}</p>
          <p *ngIf="function.commonUses.length > 0">Common Use:
            <span class="consolewrapper">
              <code *ngFor="let commonUse of function.commonUses" class="sqf" [innerHTML]="commonUse | sqf"></code>
            </span>
          </p>
        </article>
      </div>
    </div>

    <p class="text-left"><button (click)="goBack()" class="btn">Go back to the previous page</button></p>
  </div>
</div>