<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Presenting</h3>
  <img src="assets/image/FRAMEWORK5.png" class="img-responsive margin" style="display:inline" alt="Logo" width="350" height="350">
  <h3>Easy to make an Arma mission</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h1 class="margin">What is the Red Framework?</h1>
  <p>The framework is an addon to help you to quickly develop missions on ARMA 3. <br/>We want to make it as flexible as possible to match the needs of all.</p>
  <span class="glyphicons glyphicons-arrow-right"></span> <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=1226877632" target="_blank">Visit Steamworkshop page</a><br>
  <span class="glyphicons glyphicons-arrow-right"></span> <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=1230760053" target="_blank">Visit Steamworkshop demo page</a><br>
  <span class="glyphicons glyphicons-arrow-right"></span> <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=1249388522" target="_blank">Visit Steamworkshop combat patrol demo page</a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">For further</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Install the assets in 3den editor as you are used to and use our functions inside the objects, in the triggers, in the init of the mission, etc ...</p>
      <img src="assets/image/editor.jpg" class="img-responsive margin img-thumbnail" style="width:100%; max-width: 350px; margin: 0 auto;" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>To take full advantage of the framework, we recommend using the code. The framework pairs perfectly with the mission structure of arma. To be as flexible as possible, we do not impose anything.</p>
      <img src="assets/image/code.jpg" class="img-responsive margin img-thumbnail" style="width:100%; max-width: 350px; margin: 0 auto;" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Enjoy a more intense immersion with a clean and powerful code. You and your friends enjoy it with pleasure.</p>
      <img src="assets/image/game.jpg" class="img-responsive margin img-thumbnail" style="width:100%; max-width: 350px; margin: 0 auto;" alt="Image">
    </div>
  </div>
</div>